.tablist {
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.tablink {
    background-color: #555;
    color: white;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 17px;
    width: 50%;
    box-sizing: border-box;
    margin: 0;

}
.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 0px;
    height: 100%;
}

#create {background-color: grey;}
#join {background-color: white;}
